body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #fff;
  overflow-x: hidden; /* Para evitar rolagem horizontal */
}

.a {
  text-decoration: none;
  color: inherit;
}

.background-video {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}

.mascara {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Ajuste a opacidade conforme necessário */
  z-index: -1;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}

.header section a img {
  width: 4.5rem;
}

.header section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.header nav {
  display: flex;
}

.header nav a {
  margin-left: 40px;
  font-weight: 500;
  text-decoration: none;
}

.header nav a:hover {
  color: #a00202;
}

.main {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  text-align: left;
  width: 80%;
  max-width: 800px;
}

.main h3 {
  font-size: 4rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  align-items: flex-start;
}

.main p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.main a {
  background-color: #eeeeee;
  color: #000000;
  gap: 10px;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.main a:hover {
  background-color: #b40202;
  color: #dddddd;
}

.about-box {
  background-color: #111;
  padding: 50px;
  text-align: center;
}

.about-box h2 {
  font-size: 2em;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.about-box h2 span {
  color: #c20808;
}

.about-img3 {
  width: 100px;
  border-radius: 8px;
  margin-left: 50px;
}

/* Responsividade */
@media (max-width: 768px) {
  .header section {
    flex-direction: column;
    align-items: center;
  }

  .header nav {
    margin-top: 20px;
  }

  .header nav a {
    margin: 0 10px;
  }

  .main h3 {
    font-size: 2em;
  }

  .about-box div {
    flex-direction: column;
  }

  .about-img img {
    max-width: 100%;
    margin-bottom: 20px;
  }
}
